node-red.txt
[{"id":"aae9669.4808998","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e42a8b40.f842c8","type":"join","z":"aae9669.4808998","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":";","joinerType":"str","accumulate":false,"timeout":"0.1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":790,"y":680,"wires":[["219a2cc3.cd8cb4","588b404a.672ce8"]]},{"id":"e3d4fcbd.53753","type":"inject","z":"aae9669.4808998","name":"","topic":"","payload":"sensor1","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":"0.1","x":360,"y":720,"wires":[["e42a8b40.f842c8","a23b2532.98f5d","e3566bd8.2d84b8","6a9ce162.ff097","8ce12f74.5b653"]]},{"id":"219a2cc3.cd8cb4","type":"debug","z":"aae9669.4808998","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":820,"wires":[]},{"id":"a23b2532.98f5d","type":"rpi-dht22","z":"aae9669.4808998","name":"","topic":"rpi-dht22","dht":22,"pintype":1,"pin":4,"x":600,"y":840,"wires":[["e42a8b40.f842c8"]]},{"id":"e3566bd8.2d84b8","type":"rpi-dht22","z":"aae9669.4808998","name":"","topic":"rpi-dht22","dht":22,"pintype":1,"pin":4,"x":580,"y":920,"wires":[["e42a8b40.f842c8"]]},{"id":"6a9ce162.ff097","type":"rpi-dht22","z":"aae9669.4808998","name":"","topic":"rpi-dht22","dht":22,"pintype":1,"pin":4,"x":580,"y":980,"wires":[["e42a8b40.f842c8"]]},{"id":"8ce12f74.5b653","type":"rpi-dht22","z":"aae9669.4808998","name":"","topic":"rpi-dht22","dht":22,"pintype":"0","pin":"7","x":580,"y":1060,"wires":[["e42a8b40.f842c8","92aad87c.667d38"]]},{"id":"588b404a.672ce8","type":"tcp out","z":"aae9669.4808998","host":"ec2-18-225-10-77.us-east-2.compute.amazonaws.com","port":"1901","beserver":"client","base64":false,"end":true,"name":"","x":1155.8332977294922,"y":664.6319608688354,"wires":[]},{"id":"92aad87c.667d38","type":"debug","z":"aae9669.4808998","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":890,"y":960,"wires":[]}]
